h1{
    font-size: 3rem;
    background-color: rgba(255, 228, 196, 0.432);
color: rgb(43, 223, 226);

}
body{


    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: black;
}